.form-properties {
  .form-linkage-rules-btn {
    margin-right: 10px;
  }
}

.rule-list {
  .rule-item-container {
    margin: 15px 0;
    padding: 20px;
    border-color: transparent;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  }

  .rule-description {
    font-size: 15px;
    margin-bottom: 12px;
  }

  .rule-item {
    display: flex;
  }

  .rule-item-l {
    flex: 1;
    margin-right: 20px;

    .cond-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      color: #838892;
    }

    .cond-title {
      width: 50px;
      margin-right: 5px;
      padding: 1px 0;
      color: rgb(47, 125, 235);
      text-align: center;
      background: rgb(234, 242, 253);
      border-color: rgb(234, 242, 253);
    }

    .cond-desc {
      flex: 1;
    }

    .cond-resule-title {
      width: 50px;
      margin-right: 5px;
      color: rgb(0, 184, 153);
      text-align: center;
      background: rgb(230, 248, 245);
      border-color: rgb(230, 248, 245);
    }

    .cond-desc-black {
      color: #141e31;

      &.val-spacing {
        margin-left: 4px;
      }
    }
  }

  .rule-item-r {
    display: flex;
    align-items: center;
  }

  .handle-icon {
    margin: 0 6px;
    font-size: 16px;
    cursor: pointer;
  }
}

.conditional-ogic {
  width: 70px !important;
}

.conditional-range {
  width: 150px !important;
  margin: 0 10px 0 0;
}

.conditional-filter {
  width: 150px !important;
  margin-right: 10px;
}

.condition-add-btn {
  margin-bottom: 6px;
  padding: 0;
}

.linkage-rule-rel {
  display: flex;
  margin-bottom: 10px;

  .linkage-rule-rel-select {
    display: inline-block;
    margin-bottom: 0;
  }

  .linkage-rule-rel-txt {
    margin-top: 5px;
  }
}

.filler-txt-left {
  margin-right: 10px;
  padding-top: 5px;
}

.rule-block {
  display: flex;
  width: 880px;
}

.filler-txt-right {
  margin-left: 10px;
  padding-top: 5px;
}

.linkage-rules-save-btn {
  display: flex;
  justify-content: space-between;
}
