.conditional-input {
  width: 320px;
}

.form-field-edit-btn {
  margin-top: 12px;
}

.form-item {
  width: 200px;
}

.time-range {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  & .margin {
    margin: 6px 0;
  }

  & .time-range-container {
    margin: 3px 0;
  }

  & .time-range-field {
    width: 150px;
    margin-left: 10px;
  }
}

.time-default-value {
  margin: 0 0 12px 38px;
}
